DiskVolumesExplorer/DiskVolumesExplorer.Client/Service References/Services/DiskVolumesExplorer.Service.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiskVolumesExplorer.Service.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiskVolumesExplorer.Service.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDriveData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriveData" nillable="true" type="tns:DriveData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriveData" nillable="true" type="tns:ArrayOfDriveData" />
  <xs:complexType name="DriveData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SizeInBytes" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumes" nillable="true" type="tns:ArrayOfVolumeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriveData" nillable="true" type="tns:DriveData" />
  <xs:complexType name="ArrayOfVolumeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumeData" nillable="true" type="tns:VolumeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumeData" nillable="true" type="tns:ArrayOfVolumeData" />
  <xs:complexType name="VolumeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacityInBytes" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="FileSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeSpaceInBytes" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumeData" nillable="true" type="tns:VolumeData" />
</xs:schema>