DiskVolumesExplorer/DiskVolumesExplorer.Client/Service References/Services/HypervisorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DiskVolumesExplorer.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DiskVolumesExplorer.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectionConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionConfig" nillable="true" type="tns:ConnectionConfig" />
</xs:schema>