DiskVolumesExplorer/DiskVolumesExplorer.Client/Service References/VmWareServices/Hypervisor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="VmWareServices" elementFormDefault="qualified" targetNamespace="VmWareServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsVirtualMachineExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="virtualMachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVirtualMachineExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsVirtualMachineExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>